// $gridから、カラム数とオフセット値を取得
@function getColumn($module, $type) {

  $column: 0;
  $prevOffset: 0;
  $row: map-get($grid, $module);
  $offset: 0;

  @each $item in $row {
    @if(length($item) > 1) {
      $offset: 0;
    }
    @each $t in $item {
      @if(type-of($t) == number) {
        $offset: $offset + 1;
      }
      @else if($t == $type) {
        $column: $column + 1;
        $prevOffset: $offset;
      } @else {
        $offset: 0;
      }
    }
  }

  @return $column, $prevOffset;
}
